* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #16222a, #16222a);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.btn {
  background-color: #7029b8;
  border-radius: 5px;
  padding: 1.5rem 3rem;
  margin: 1rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  opacity: 0.98;
}
